POSTGRES_HOST=0.0.0.0
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=password

TOKEN=

CHANNEL_ID=
MEDIA_CHAT_ID=

MIN_DELAY=5
MAX_DELAY=10
RETRIES=5
RETRIES_DELAY=5

WELCOME_PHOTO=images.jpeg